
body {
  margin: 0px;
  padding: 0px;

 
  background: radial-gradient(50% 50% at 50% 50%, rgba(158, 110, 230, 0.28) 0%, rgba(158, 110, 230, 0) 100%), #000000;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
  width: auto;
  max-width: 1586px;
  margin: auto;
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.6);
  /* position: fixed; */
  z-index: 1000;
}
.header-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;

}
.nav a{
  font-family: Outfit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}
nav ul{
  display: flex;
  gap: 32px;
  list-style: none;
  
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.5em;
  text-align: left;

}


.buttons{
  display: flex;
  gap: 12px;
  align-items: center;
  
}
.buttons>span{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 45px;
height: 45px;
border-radius: 50%;

border: 1.5px 0px 0px 0px;
border: 1.5px solid #1A1A28;
background-color: #14141F;
display: none;

}
.buttons button {
 
  padding:12.7px 24px;
  font-family: Outfit;
font-size: 16px;
font-weight: 500;

text-align: center;
border-radius: 4px;

}

.buttons button:nth-of-type(1) {
  
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  cursor: pointer;
}

.buttons button:nth-of-type(2) {
  border: none;
  color: #fff;
  background: linear-gradient(90deg, #9E6EE5 0%, #FA75F8 100%);
 z-index: 1;
 cursor: pointer;
}

/* Hero Section Styles */
.hero {
  height: auto;
  width: 100%;
  max-width: 1568px;
  margin: auto;
  margin-top: 0px;
  display: flex;
  gap: 45.27px;
  
}
.hero-div1{
  width: 660px;
  background-color: transparent;
  padding-bottom: 56px;
  margin-top: 127px;
  margin-left: 175px;
}
.hero-div1>button:nth-child(1){
 padding: 6.75px 12px;
 display: flex;
 gap: 5px;
  background: linear-gradient(94.15deg, rgba(93, 93, 93, 0.3) 0%, rgba(171, 171, 171, 0.15) 100%);
  border: none;
  border-radius: 10px;
  background: #141414;
  color:white;
  /* background: radial-gradient(42% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(171, 171, 171, 0) 100%); */
  border-bottom: 0.5px solid white;
}
.hero-div1 span{
  font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.hero h1 {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 59px;
  text-align: left;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  background-clip: text;
  color: transparent;
  margin-top: 64px;
}
.hero p{
  font-family: Outfit;
font-size: 24px;
font-weight: 400;
line-height: 40px;
text-align: left;
color: #FFFFFFCC;
margin-top: 24px;

}

.hero button:nth-of-type(2) {
  font-family: Outfit;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  background: linear-gradient(90deg, #9E6EE5 0%, #FA75F8 100%);
  color: #fff;
  padding: 22px 32px 17.5px 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 48px;
}
.hero-div2{
  display: flex;
  
  z-index: -1;
}
.hero-div2>div{
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.hero-div2 img{
 width: 182.31px;
 height: 190px;
 border-radius: 21.61px;
 opacity: 0px;
 /* box-shadow: 0px 18.01px 36.02px 0px #0E0C4726; */

}
.hero-div2>div:nth-of-type(2){
 position: relative;
 top: -40px;
 
}

/* Herso section 2 */

.hero2 {
  margin: auto;
  margin-top: 196.67px;
  width: auto;
  max-width: 1568px;
  height: auto;
  padding: 0 177px;
  
}

.hero2-first {
  background-image: url('./assets/images/personalities/Background.png');
  background-size: cover;
  margin: auto;
  height: 556px;
  width: 1086px;
}

.hero2-first > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero2-first > div > h2 {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  text-align: center;
  color: #fff;
  width: 787px;
  height: 128px;
  position: relative;
  transition: transform 0.1s ease-out;
}

.hero2-first > div > h2 > span {
  background: linear-gradient(90deg, #FACC69 0%, #FF91A5 100%);
  background-clip: text;
  color: transparent;
}





/* How It Works Styles */

.howItWorks {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-width: 1568px;
  margin: auto;
  margin-top: 101.8px;
}

.image-container {
  width: 686px;
  height: 508px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.image-container.animate-mask {
  opacity: 1;
  animation: shutterUp 1s forwards;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
}

@keyframes shutterUp {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.howItWorks > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.howItWorks div > h2 {
  font-family: Outfit;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.howItWorks > div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.howItWorks div > span {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  color: #FFFFFF;
  margin-top: 0px;
  transition: background-clip 0.5s ease-in-out, color 0.5s ease-in-out;
}

.howItWorks div > span:hover {
  background: linear-gradient(90deg, #5CC3FA 0%, #9E6EE6 100%);
  background-clip: text;
  color: transparent;
}




/* scroll */
  .scroll {
    padding-top: 44px;
    padding-bottom: 88px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 1586px;
    margin: auto;
    margin-top: 171px;
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  .scroll > div {
    display: flex;
    gap: 24px;
    transition: transform 0.3s ease-out;
  }
  
  .scroll > div > span {
    font-family: Outfit;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    padding: 16px 12px 16px 8px;
    border-radius: 8px;
    color: white;
  }
  
  .scroll > div > span:nth-child(odd) {
    background: linear-gradient(92.08deg, rgba(43, 91, 117, 0.7) 0%, rgba(255, 255, 255, 0.09) 100%);
  }
  
  .scroll > div > span:nth-child(even) {
    background: linear-gradient(92.05deg, rgba(128, 47, 126, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
  }
  
  .scroll > div:nth-of-type(2) {
    margin-left: 50px;
  }
  

/* outfit */

.outfit{
  padding: 96px;
  width: auto;
  max-width: 1586px;
  margin: auto;
  margin-top: 152px;
  display: flex;
  flex-direction: column;
  gap: 32px;

}
.outfit>div:nth-of-type(1){
  display: flex;
  gap: 32px;
}
.outfit>div:nth-of-type(2){
  display: flex;
  gap: 32px;
}

.outfit-1>img:nth-of-type(1){
  width: 525px;
 height: 528px;
 border-radius: 24px 0px 0px 0px;
 opacity: 0px;
}
.outfit-1>img:nth-of-type(2){
  width: 752px;
  height: 528px;
  gap: 0px;
  border-radius: 24px 0px 0px 0px;
  background: #FFFFFF14;
}
.outfit-2>img:nth-of-type(1){
  width: 748px;
  height: 528px;
   border-radius: 24px 0px 0px 0px;
}
.outfit-2>img:nth-of-type(2){
  width: 525px;
  height: 528px;
}
/* Tokenomics Styles */
.tokenomics {
width: 100%;
height: auto;
margin: auto;
max-width: 1586px;
margin-top: 152px;

}

.tokenomics h2 {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  background: linear-gradient(90deg, #FA75F8 0%, #9E6EE6 100%);
  background-clip: text;
  color: transparent;
  margin-top: 40px;
 
}
.tokenomics-1{
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 77px;

}
.tokenomics-1_div1 div span:nth-of-type(1){

  font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 16px;
text-align: left;
width: 202px;
}
.tokenomics-1_div1 div span:nth-of-type(2){
  font-family: Inter;
font-size: 22px;
font-weight: 400;
line-height: 26.63px;
text-align: left;
color: #FFFFFFCC;
width: 259px;
}
.tokenomics-1_div2 div span:nth-of-type(1){

  font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 16px;
text-align: left;
width: 202px;
}
.tokenomics-1_div2 div span:nth-of-type(2){
  font-family: Inter;
font-size: 22px;
font-weight: 400;
line-height: 26.63px;
text-align: left;
color: #FFFFFFCC;
width: 259px;
}

.tokenomics-1_div1>div{

  display: flex;
 padding: 23.5px 20px;
 width: 550px;
}
.tokenomics-1_div2>div{

  display: flex;
 padding: 23.5px 20px;
 width: 550px;
}
.tokenomics-2{
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
}
.tokenomics-2 img{
/* height: 450px; */

}
.tokenomics-2_inner{
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
.tokenomics-2_inner>div{
  width: 520px;
  /* background-color: #FACC69; */
  border: 1px solid #FFFFFF80;
  display: flex;
  border-radius: 8px;
}
.tokenomics-2_inner>div:nth-of-type(1)>span{
  background: #BE2C2C;
  width: 25px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tokenomics-2_inner>div:nth-of-type(2)>span{
  background: #FF8F34;
  width: 25px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tokenomics-2_inner>div:nth-of-type(3)>span{
  background: #9934FF;
  width: 25px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tokenomics-2_inner>div:nth-of-type(4)>span{
  background: #028DFD;
  width: 25px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tokenomics-2_inner>div>div{
  display: flex;
  align-items: center;
   padding: 23px 15px;
}
.tokenomics-2_inner>div>div>span:nth-of-type(1){
  font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 16px;
text-align: left;
color: #FFFFFF;
width: 254px;
}
.tokenomics-2_inner>div>div>span:nth-of-type(2){
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  text-align: left;
  color: #FFFFFFCC;

}
/* Roadmap Styles */

.roadmap {
  width: auto;
  max-width: 1586px;
  margin: auto;
  margin-top: 152px;
  padding-left: 170px;
  display: flex;
  flex-direction: column;
  gap: 104px;
}

.roadmap > h1 {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  background: linear-gradient(90deg, #FA75F8 0%, #9E6EE6 100%);
  background-clip: text;
  color: transparent;
}

.roadmap h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.roadmap-inner {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.roadmap-inner h2 {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  text-align: left;
  background: linear-gradient(90deg, #FA75F8 0%, #9E6EE6 100%);
  background-clip: text;
  color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

#Phase1 {
  background: linear-gradient(90deg, #FACC69 0%, #FA75F8 100%);
  margin-bottom: 0px;
  background-clip: text;
  color: transparent;
}

.roadmap-inner ul > li {
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #FFFFFFCC;
}

.roadmap-inner > div {
  width: 528px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px;
}

.roadmap-inner img {
  width: 528px;
  height: auto;
  border-radius: 16px;
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.roadmap-inner img.translate {
  transform: translateX(0);
  opacity: 1;
}

/* Get started section */
.getstarted{
  margin: auto;
  margin-top: 152px;
  width: auto;
  max-width: 1586px;
  background-image: url("./assets/images/personalities/started.png");
  height: 332px;
  color: white;
  padding: 0px 66px;

}
.getstarted button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #9E6EE5 0%, #FA75F8 100%);
  border: none;
  color: white;
  border-radius: 8px;
  padding: 2px;
 width: 1320px;
  padding: 31px 64px 33px 64px;
  gap: 0px;
  border-radius: 6px;
  font-size: 48px;
  position: relative;
  top: 194px;
  cursor: pointer;
}
.getstarted button>span{
  font-size: 48px;
}

/* Footer Styles */
.footer {
  color: white;
  width: auto;
  max-width: 1586px;
  margin: auto;
  margin-top: 250px;
  padding: 124.5px 64px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(92, 195, 250, 0.28) 0%, rgba(92, 195, 250, 0) 100%);

}
.footer>div:nth-of-type(1){
  display: flex;
 justify-content: center;
 align-items: center;
/* flex-wrap: wrap; */
}
.footer>div:nth-of-type(1)>div{
  width: 835px;
 
}

.footer>div:nth-of-type(1)>div>span{
  font-family: Outfit;
font-size: 24px;
font-weight: 400;
line-height: 30.24px;

background: radial-gradient(70.54% 70.54% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.573) 92.71%, rgba(255, 255, 255, 0.6) 92.72%);
background-clip: text;
color: transparent;
margin-left: 640px;
right: 0px;
}

.footer>div>p{
  font-family: Outfit;
font-size: 29px;
font-weight: 400;
line-height: 42px;
text-align: left;
background: radial-gradient(61.42% 1213.78% at 18.1% 57.03%, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
background-clip: text;
color: transparent;
width: 477px;
}
.footer-1>div>div>button{
  font-family: Outfit;
font-size: 24px;
font-weight: 600;
line-height: 24px;
text-align: center;
padding: 19px 35px 21px 35px;
background: linear-gradient(180deg, #C85EC7 0%, #7F59B8 100%);
border-radius: 8px;
border: none;
color: white;
}
.footer-1>div>div{
  margin-left: 344px;
}
.footer-1>div{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-div{
  
  display: flex;
  gap: 9px;
}
.footer-1>div>div>input{
padding:16px 172px 18px 24px;
background: #FFFFFF0D;
border: 2px solid #FFFFFF;
border-radius: 8px;

}
input::placeholder{
  font-family: Outfit;
font-size: 24px;
font-weight: 400;
line-height: 30.24px;
text-align: left;

}
.footer-2{
  margin-top: 33.5px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.footer-2>h3{
  font-family: Outfit;
  
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.5em;
  text-align: left;
  color: #FFFFFF;

}
.footer-2>div{
  display: flex;
  gap: 48px;
}
@media (max-width: 650px) {
  nav ul{
    display: none;
  }
  .buttons button:nth-of-type(1){
    display: none;
  }
  .buttons button:nth-of-type(2){
    display: none;
  }
  .buttons>span{
    display: block;
  }
  .hero-div2{
    display: none;
  }
}